<!DOCTYPE html>
<html>
  <head>
    <title>ChatSpace</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if notice %><p class="layout-notice"><%= notice %></p><% end %>
    <% if alert %><p class="layout-alert"><%= alert %></p><% end %>

    <div class="layout-notification">
      <%= yield %>
    </div>
  </body>
</html>
